@import url('https://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
h1
{
	font-family: Arial, "Times New Roman";
	font-size: 35px;
	font-style: italic;
	font-weight: 200;
	text-align: center;
	text-decoration: underline;
	text-indent: 5px;
	color: #03FAC9;	
}
fakebox
{
	font-style: italic;
	text-align: center;
	text-indent: 5px;
}